@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#logo-nav {
    width: 160px;
    height: 40px;

    margin-right: 8px;
}

nav {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: normal;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li-redsocial {
    background-color: #b2b2b2;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
}

.li-redsocial:hover {
    background-color: white;
}

.a-redsocial {
    display: flex;
}

.a-cinear-ext {
    color: white;
}

nav ul {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div {
    display: flex;
    align-items: center;
}

#list-redsocial {
    margin-left: 64px;
}

.img-redsocial {
    width: 16px;
    height: 16px;
}

.li-cinear-ext {
    margin-left: 24px;
}

.main-section {
    background-color: #00DCE4;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-logo {
    width: 30%;
    display: flex;
    align-items: center;
    margin: 0% 5%;
}

.main-overlay {
    position: absolute;
}

.main-gradient {
    position: absolute;
}

.main-video {
    width: 60%;
}