@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#logo-cinear-header {
    width: 160px;
    height: 40px;
}

ul {
    list-style-type: none;
}

.href-redes {
    background-color: #b2b2b2;
    border-radius: 40%;
}

.href-redes:hover {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}